In [1]:
#Email generation code

In [1]:
import pandas as pd
import random
import datetime
import import_ipynb

In [2]:
import msgbody
from msgbody import numgen, subjectGenerator, bodyGenerator

importing Jupyter notebook from msgbody.ipynb

In [3]:
fromClient=['@JPMorgan.com','@DEUTSCHEBANK.com','@BNYMellon.com','@HSBC.com','@SBI.com','@HDFC.com','@DESHAW.com']

toCiti=['@CitiBankNewYork.com','@CitiBankLondon.com','@CitiBankPune.com','@CitiBankSingapore.com','@CitiBankHongKong.com']

clientName=['Phillip','Mike','Jason','Adam','Morgan','Spike','Stacy','Dave','David','Bella','Angela','Stefanie','Archie','Jacob','Zachary','Yasmin']

citiName=['Shai','Dipesh','Anthony','Isabella','Shaniece','Liam','Rishabh','Sumit','Suhail','Shubhanshu','Rohan','Neha','Patrick','Rudra','Elena']

In [17]:
##BELOW IS THE CODE FOR A NUMBER IN SUBJECT AND BODY and Original Dataset generator

In [4]:
dataset = []
classes = [ 'Complete', 'Failed', 'Pending', 'Request', 'Processing', 'General']

In [5]:
for i in range(5000):
    client_email = random.choice(clientName) + random.choice(fromClient)
    citi_email = random.choice(citiName) + random.choice(toCiti)
    ID = numgen(6)
    class_ = random.choice(classes)
    subject = subjectGenerator(class_,str(ID))
    body = bodyGenerator(class_,str(ID))
    row = [client_email, citi_email, subject, body, class_, ID]
    dataset.append(row)

In [6]:
df = pd.DataFrame(dataset, columns = ['From', 'To','Subject','Body','Class','TransactionID'],index = [i+1 for i in range(len(dataset))])

In [7]:
start_date = datetime.date(2018, 12, 1)
end_date = datetime.date(2020, 5, 31)

time_between_dates = end_date - start_date
days_between_dates = time_between_dates.days
date_column_data = [start_date + datetime.timedelta(days=random.randrange(days_between_dates)) for i in range(len(dataset))]

In [8]:
df['Payment Date'] = date_column_data

In [9]:
df.shape

(5000, 7)

In [10]:
#This the DataSet we Have generated
df.head()

,From,To,Subject,Body,Class,TransactionID,Payment Date
1,Bella@HDFC.com,Neha@CitiBankHongKong.com,Soliciting information for ID : 039753,Urgently require details of acc 039753 reply asap,Request,039753,2019-11-03
2,Phillip@HDFC.com,Rishabh@CitiBankLondon.com,Incomplete transaction 601769,The transaction 601769 is taking too long to c...,Pending,601769,2018-12-25
3,Jason@HDFC.com,Patrick@CitiBankLondon.com,Transaction 326405 is now being processed.,Thank you for transferring the payment to my a...,Processing,326405,2019-12-12
4,Phillip@DESHAW.com,Shai@CitiBankPune.com,Imploring update on transaction : 802497,Can you please tell me the amount transferred ...,Request,802497,2020-03-19
5,Zachary@BNYMellon.com,Patrick@CitiBankNewYork.com,Payment done and Transaction 402338 settled.,Greetings! I wanted to let you know that I hav...,Complete,402338,2019-03-14

In [11]:
df.drop_duplicates(subset=['Subject','Body'],keep='first',inplace = True)
df.shape

(4726, 7)

In [12]:
df.to_csv(r'C:\Users\OINDREELA\Desktop\temp\emaildataset.csv', index = False)