In [56]:
#Email generation code

In [57]:
import pandas as pd
import numpy as np
import import_ipynb

In [58]:
import msgbody
from msgbody import numgen, transacBank,transacClient , subClient, subBank

In [59]:
From1=['@JPMorgan.com','@DEUTSCHEBANK.com','@BNYMellon.com','@HSBC.com','@SBI.com','@HDFC.com','@DESHAW.com']

From2=['@CitiBankNewYork.com','@CitiBankLondon.com','@CitiBankPune.com','@CitiBankSingapore.com','@CitiBankHingKong.com']

To1=['@JPMorgan.com','@DEUTSCHEBANK.com','@BNYMellon.com','@HSBC.com','@SBI.com','@HDFC.com','@DESHAW.com']

To2=['@CitiBankNewYork.com','@CitiBankLondon.com','@CitiBankPune.com','@CitiBankSingapore.com','@CitiBankHingKong.com']

Subject2=['Update on payment request', 'Payment Status', 'Urrgent: need transaction details','Transaction Complete','Transaction is in progress','Payment Failed','Payment is in progress','Waiting for amount pending','Transaction Failed','Payment Received']

name1=['Phillip','Mike','Jason','Adam','Morgan','Spike','Stacy','Dave','David','Bella','Angela','Stefanie','Archie','Jacob','Zachary','Yasmin']
name2=['Shai','Dipesh','Anthony','Isabella','Shanguisi','liFang','AjayNager','Sumit','Suhail','Shubhanshu','Rohan','Neha','Patrick']
currency = ['USD','GBP','CAD','EUR','INR','YEN']

In [60]:
import random
from random import randint

In [61]:
###Whenever you need to join a digit put->  ''.join(["{}".format(randint(1, 9)) for num in range(0, 6)])+   part in there

In [62]:
##BELOW IS THE CODE FOR A NUMBER IN SUBJECT AND BODY and Original Dataset generator

In [63]:
data2=[[]]

In [112]:
#final code for dataset generation form Bank side
for i in range(len(name1)):
            for j in range(len(name2)):
                for k in range(10):
                    temp=numgen(6)
                    s1=random.choice(name1)+random.choice(From1)
                    s2=random.choice(name2)+random.choice(To2)
                    s3=subBank(temp)
                    s4=""
                    s5=""
                    words = s3.split()
                    for word in words:
                        word=word.lower()
                        if(word=='failed'):
                            s4=transacBank(3,temp)
                            s5='BankFailed'
                            break
                        elif(word=='pending' or word=='progress'):
                            s4=transacBank(2,temp)
                            s5='BankProgress'
                            break
                        elif(word=='complete' or word=='received'):
                            s4=transacBank(1,temp)
                            s5='BankComplete'
                            break
                        elif(word=='status' or word=='details' or word=='update'):
                            k=numgen(1)
                            if(k<'4'):
                                s4=transacBank(1,temp)
                                s5='BankComplete'
                            elif(k>'3' and k<'7'):
                                s4=transacBank(2,temp)
                                s5='BankProgress'
                            elif(k>'6'):
                                s4=transacBank(3,temp)
                                s5='BankFailed'
                            break
                        elif words=='provide' or word=='request':
                            s4=transacBank(4,temp)
                            s5='BankRequest'
                            break
                    
                    m=[s1,s2,s3,s4,s5,temp]
                    data2.append(m)

In [113]:
#final code for dataset generation form Client side
for i in range(len(From1)):
            for j in range(len(To2)):
                for k in range(11):
                    temp=numgen(6)
                    s1=random.choice(name1)+random.choice(To1)
                    s2=random.choice(name2)+random.choice(From2)
                    s3=subClient(temp)
                    s4=""
                    s5=""
                    words = s3.split()
                    for word in words:
                        word=word.lower()
                        if(word=='failed' or word=='failure'):
                            s4=transacClient(3,temp)
                            s5='ClientFailed'
                            break
                        elif(word=='pending' or word=='progress'):
                            s4=transacClient(2,temp)
                            s5='ClientProgress'
                            break
                        elif(word=='complete' or word=='received' or word == 'finished'):
                            s4=transacClient(1,temp)
                            s5='ClientComplete'
                            break
                        elif(word=='status' or word=='details' or word=='update' or word=='provide' or word=='request'):
                            s4=transacClient(4,temp)
                            s5='ClientStatus'
                            break
                    m=[s1,s2,s3,s4,s5,temp]
                    data2.append(m)

In [114]:
df = pd.DataFrame(data2, columns = ['From', 'To','Subject','Body','Class','TransactionID'])

In [115]:
df.head(20)

,From,To,Subject,Body,Class,TransactionID
0,None,None,None,None,None,None
1,Yasmin@BNYMellon.com,Shai@CitiBankHingKong.com,Send collateral details for loan no. 855774,We are happy to let you know that transaction ...,BankComplete,855774
2,Mike@HSBC.com,Isabella@CitiBankSingapore.com,Payment Status for 524486,"Due to lack of funds, cheque no. 9766871231991...",BankFailed,524486
3,Phillip@DEUTSCHEBANK.com,AjayNager@CitiBankNewYork.com,Acknowledgement of loan request no. 874719,Please be assured that we have received your r...,BankRequest,874719
4,Archie@HDFC.com,Neha@CitiBankPune.com,Payment Status for 533328,We regret the delay in completing transaction ...,BankProgress,533328
5,David@JPMorgan.com,Sumit@CitiBankNewYork.com,Current Update on Account No. 184124,"Hi, We have successfully processed and complet...",BankComplete,184124
6,Archie@SBI.com,Shanguisi@CitiBankSingapore.com,Send collateral details for loan no. 877261,Thanks for submitting your query regarding 877...,BankProgress,877261
7,Zachary@SBI.com,liFang@CitiBankNewYork.com,Transaction 778342 failedPayment Failed for 77...,"Due to unknown technical errors, your transact...",BankFailed,778342
8,Jacob@DEUTSCHEBANK.com,Suhail@CitiBankLondon.com,Urgent : Account details required for 428623,"CAD 739934 completed successfully, congrats!",BankComplete,428623
9,Morgan@JPMorgan.com,Anthony@CitiBankPune.com,Account Details required for Acc no. 137821,Fund transfer for Account No. 137821 has stopp...,BankProgress,137821
10,Dave@BNYMellon.com,liFang@CitiBankPune.com,Urgent : Account details required for 362589,Payment of USD 864279 has been cancelled as pe...,BankFailed,362589
11,Adam@HSBC.com,Suhail@CitiBankHingKong.com,Not enough funds. Transaction 288582 failed.,,,288582
12,Spike@BNYMellon.com,Shubhanshu@CitiBankNewYork.com,Send collateral details for loan no. 118252,Transaction 118252 has failed due to incomplet...,BankFailed,118252
13,Zachary@BNYMellon.com,Rohan@CitiBankSingapore.com,Request has been received for Transaction-ID: ...,"Hey, We would require you account details for ...",BankRequest,413227
14,Jason@HSBC.com,Isabella@CitiBankPune.com,Acc 939913 Update,"Due to unknown technical errors, your transact...",BankFailed,939913
15,Morgan@SBI.com,Shanguisi@CitiBankPune.com,Transaction Complete for 457729,Full payment for amount CAD 278998 has been su...,BankComplete,457729
16,David@DESHAW.com,Isabella@CitiBankLondon.com,Account Details required for Acc no. 366995,"Hey, We got your query regarding details of ac...",BankProgress,366995
17,Yasmin@JPMorgan.com,Rohan@CitiBankNewYork.com,Transaction is in progress for 631641,"Sorry, due to high volume of requests, your tr...",BankProgress,631641
18,Mike@DESHAW.com,Shai@CitiBankNewYork.com,Transaction 487174 failedPayment Failed for 48...,Transaction 487174 has failed due to incomplet...,BankFailed,487174
19,Stefanie@JPMorgan.com,Dipesh@CitiBankNewYork.com,Transaction Failed for 192358,"Due to incorrect details filled, EUR 333685 ha...",BankFailed,192358

In [116]:
import datetime

In [117]:
start_date = datetime.date(2018, 12, 1)
end_date = datetime.date(2020, 5, 31)

time_between_dates = end_date - start_date
days_between_dates = time_between_dates.days
date_column_data = [start_date + datetime.timedelta(days=random.randrange(days_between_dates)) for i in range(len(data2))]
#print(date_column_data)

In [118]:
df['Payment Date'] = date_column_data

In [119]:
df.head(10)

,From,To,Subject,Body,Class,TransactionID,Payment Date
0,None,None,None,None,None,None,2019-07-29
1,Yasmin@BNYMellon.com,Shai@CitiBankHingKong.com,Send collateral details for loan no. 855774,We are happy to let you know that transaction ...,BankComplete,855774,2019-11-24
2,Mike@HSBC.com,Isabella@CitiBankSingapore.com,Payment Status for 524486,"Due to lack of funds, cheque no. 9766871231991...",BankFailed,524486,2020-03-28
3,Phillip@DEUTSCHEBANK.com,AjayNager@CitiBankNewYork.com,Acknowledgement of loan request no. 874719,Please be assured that we have received your r...,BankRequest,874719,2018-12-24
4,Archie@HDFC.com,Neha@CitiBankPune.com,Payment Status for 533328,We regret the delay in completing transaction ...,BankProgress,533328,2019-12-06
5,David@JPMorgan.com,Sumit@CitiBankNewYork.com,Current Update on Account No. 184124,"Hi, We have successfully processed and complet...",BankComplete,184124,2019-09-14
6,Archie@SBI.com,Shanguisi@CitiBankSingapore.com,Send collateral details for loan no. 877261,Thanks for submitting your query regarding 877...,BankProgress,877261,2020-01-05
7,Zachary@SBI.com,liFang@CitiBankNewYork.com,Transaction 778342 failedPayment Failed for 77...,"Due to unknown technical errors, your transact...",BankFailed,778342,2019-01-27
8,Jacob@DEUTSCHEBANK.com,Suhail@CitiBankLondon.com,Urgent : Account details required for 428623,"CAD 739934 completed successfully, congrats!",BankComplete,428623,2020-05-28
9,Morgan@JPMorgan.com,Anthony@CitiBankPune.com,Account Details required for Acc no. 137821,Fund transfer for Account No. 137821 has stopp...,BankProgress,137821,2019-03-28

In [120]:
df.drop(0,inplace=True)

In [121]:
df.reset_index(inplace=True)

In [122]:
df.head()

,index,From,To,Subject,Body,Class,TransactionID,Payment Date
0,1,Yasmin@BNYMellon.com,Shai@CitiBankHingKong.com,Send collateral details for loan no. 855774,We are happy to let you know that transaction ...,BankComplete,855774,2019-11-24
1,2,Mike@HSBC.com,Isabella@CitiBankSingapore.com,Payment Status for 524486,"Due to lack of funds, cheque no. 9766871231991...",BankFailed,524486,2020-03-28
2,3,Phillip@DEUTSCHEBANK.com,AjayNager@CitiBankNewYork.com,Acknowledgement of loan request no. 874719,Please be assured that we have received your r...,BankRequest,874719,2018-12-24
3,4,Archie@HDFC.com,Neha@CitiBankPune.com,Payment Status for 533328,We regret the delay in completing transaction ...,BankProgress,533328,2019-12-06
4,5,David@JPMorgan.com,Sumit@CitiBankNewYork.com,Current Update on Account No. 184124,"Hi, We have successfully processed and complet...",BankComplete,184124,2019-09-14

In [123]:
df.drop(["index"],axis=1,inplace=True)

In [124]:
df.shape

(9860, 7)

In [125]:
#This the DataSet we Have generated
df.head()

,From,To,Subject,Body,Class,TransactionID,Payment Date
0,Yasmin@BNYMellon.com,Shai@CitiBankHingKong.com,Send collateral details for loan no. 855774,We are happy to let you know that transaction ...,BankComplete,855774,2019-11-24
1,Mike@HSBC.com,Isabella@CitiBankSingapore.com,Payment Status for 524486,"Due to lack of funds, cheque no. 9766871231991...",BankFailed,524486,2020-03-28
2,Phillip@DEUTSCHEBANK.com,AjayNager@CitiBankNewYork.com,Acknowledgement of loan request no. 874719,Please be assured that we have received your r...,BankRequest,874719,2018-12-24
3,Archie@HDFC.com,Neha@CitiBankPune.com,Payment Status for 533328,We regret the delay in completing transaction ...,BankProgress,533328,2019-12-06
4,David@JPMorgan.com,Sumit@CitiBankNewYork.com,Current Update on Account No. 184124,"Hi, We have successfully processed and complet...",BankComplete,184124,2019-09-14

In [126]:
df.drop_duplicates(subset=['Subject','Body'],keep='first',inplace = True)
df.shape

(9860, 7)

In [127]:
df.to_csv(r'C:\Users\OINDREELA\Desktop\temp\emaildataset.csv', index = False)