In [1]:
#Email generation code

In [1]:
import pandas as pd
import numpy as np
import import_ipynb

In [2]:
import msgbody
from msgbody import numgen, subjectGenerator, bodyGenerator

importing Jupyter notebook from msgbody.ipynb

In [3]:
fromClient=['@JPMorgan.com','@DEUTSCHEBANK.com','@BNYMellon.com','@HSBC.com','@SBI.com','@HDFC.com','@DESHAW.com']

toCiti=['@CitiBankNewYork.com','@CitiBankLondon.com','@CitiBankPune.com','@CitiBankSingapore.com','@CitiBankHongKong.com']

#subject=['Update on payment request', 'Payment Status', 'Urgent: need transaction details','Transaction Complete','Transaction is in progress','Payment Failed','Payment is in progress','Waiting for amount pending','Transaction Failed','Payment Received']

clientName=['Phillip','Mike','Jason','Adam','Morgan','Spike','Stacy','Dave','David','Bella','Angela','Stefanie','Archie','Jacob','Zachary','Yasmin']
citiName=['Shai','Dipesh','Anthony','Isabella','Shaniece','Liam','Rishabh','Sumit','Suhail','Shubhanshu','Rohan','Neha','Patrick','Rudra','Elena']

In [4]:
import random
#from random import randint

In [61]:
###Whenever you need to join a digit put->  ''.join(["{}".format(randint(1, 9)) for num in range(0, 6)])+   part in there

In [62]:
##BELOW IS THE CODE FOR A NUMBER IN SUBJECT AND BODY and Original Dataset generator

In [5]:
dataset = []
classes = [ 'Complete', 'Failed', 'Pending', 'Request', 'Processing', 'General']

In [112]:
#final code for dataset generation form Bank side
""""for i in range(len(name1)):
            for j in range(len(name2)):
                for k in range(10):
                    temp=numgen(6)
                    s1=random.choice(name1)+random.choice(From1)
                    s2=random.choice(name2)+random.choice(To2)
                    s3=subBank(temp)
                    s4=""
                    s5=""
                    words = s3.split()
                    for word in words:
                        word=word.lower()
                        if(word=='failed'):
                            s4=transacBank(3,temp)
                            s5='BankFailed'
                            break
                        elif(word=='pending' or word=='progress'):
                            s4=transacBank(2,temp)
                            s5='BankProgress'
                            break
                        elif(word=='complete' or word=='received'):
                            s4=transacBank(1,temp)
                            s5='BankComplete'
                            break
                        elif(word=='status' or word=='details' or word=='update'):
                            k=numgen(1)
                            if(k<'4'):
                                s4=transacBank(1,temp)
                                s5='BankComplete'
                            elif(k>'3' and k<'7'):
                                s4=transacBank(2,temp)
                                s5='BankProgress'
                            elif(k>'6'):
                                s4=transacBank(3,temp)
                                s5='BankFailed'
                            break
                        elif words=='provide' or word=='request':
                            s4=transacBank(4,temp)
                            s5='BankRequest'
                            break
                    
                    m=[s1,s2,s3,s4,s5,temp]
                    data2.append(m)"""

In [113]:
#final code for dataset generation form Client side
""""for i in range(len(From1)):
            for j in range(len(To2)):
                for k in range(11):
                    temp=numgen(6)
                    s1=random.choice(name1)+random.choice(To1)
                    s2=random.choice(name2)+random.choice(From2)
                    s3=subClient(temp)
                    s4=""
                    s5=""
                    words = s3.split()
                    for word in words:
                        word=word.lower()
                        if(word=='failed' or word=='failure'):
                            s4=transacClient(3,temp)
                            s5='ClientFailed'
                            break
                        elif(word=='pending' or word=='progress'):
                            s4=transacClient(2,temp)
                            s5='ClientProgress'
                            break
                        elif(word=='complete' or word=='received' or word == 'finished'):
                            s4=transacClient(1,temp)
                            s5='ClientComplete'
                            break
                        elif(word=='status' or word=='details' or word=='update' or word=='provide' or word=='request'):
                            s4=transacClient(4,temp)
                            s5='ClientStatus'
                            break
                    m=[s1,s2,s3,s4,s5,temp]
                    data2.append(m)"""

In [6]:
for i in range(10000):
    client_email = random.choice(clientName) + random.choice(fromClient)
    citi_email = random.choice(citiName) + random.choice(toCiti)
    ID = numgen(6)
    class_ = random.choice(classes)
    subject = subjectGenerator(class_,str(ID))
    body = bodyGenerator(class_,str(ID))
    row = [client_email, citi_email, subject, body, class_, ID]
    dataset.append(row)

In [7]:
df = pd.DataFrame(dataset, columns = ['From', 'To','Subject','Body','Class','TransactionID'])
df.set_index('TransactionID', inplace = True)

In [8]:
df.head(20)

,From,To,Subject,Body,Class
TransactionID,,,,,
978466,Mike@SBI.com,Shai@CitiBankNewYork.com,Dealing with the transaction 978466,Hello! This is to inform you that I have recei...,Processing
612268,Archie@DEUTSCHEBANK.com,Rishabh@CitiBankHongKong.com,Soliciting information for ID : 612268,Kindly reply to me at the earliest with the la...,Request
972685,Adam@JPMorgan.com,Suhail@CitiBankPune.com,Required money acquired. Transaction 972685 is...,Hello! This is to inform you that I have recei...,Processing
258259,David@HSBC.com,Rishabh@CitiBankNewYork.com,Payment received for transaction : 258259 and ...,Hello! This is to inform you that I have recei...,Processing
854558,Archie@DESHAW.com,Shubhanshu@CitiBankPune.com,Completed transaction no. 854558,"To whom it may concern, I have successfully re...",Complete
514816,Archie@DESHAW.com,Isabella@CitiBankNewYork.com,How to change PIN no of ATM card?,I have heard a lot about your bank and would l...,General
533382,Bella@DEUTSCHEBANK.com,Rudra@CitiBankNewYork.com,Payment done and Transaction 533382 settled.,Glad to let you know that I got the desired pa...,Complete
186936,Mike@HDFC.com,Liam@CitiBankHongKong.com,Transaction 186936 is complete,Greetings! I wanted to let you know that I hav...,Complete
441718,Angela@JPMorgan.com,Shubhanshu@CitiBankHongKong.com,Handling the transaction 441718 after payment.,Hello! This is to inform you that I have recei...,Processing
294281,Archie@DEUTSCHEBANK.com,Shai@CitiBankHongKong.com,Required money acquired. Transaction 294281 is...,Hello! This is to inform you that I have recei...,Processing
344334,Phillip@DESHAW.com,Liam@CitiBankSingapore.com,Payment outstanding for transaction 344334,There has been only a partial payment of amoun...,Pending
243698,Zachary@DEUTSCHEBANK.com,Rohan@CitiBankSingapore.com,Incomplete transaction 243698,The transaction 243698 is taking too long to c...,Pending
194352,David@JPMorgan.com,Patrick@CitiBankHongKong.com,Payment received for transaction : 194352 and ...,Hello! This is to inform you that I have recei...,Processing
966945,Zachary@SBI.com,Shubhanshu@CitiBankSingapore.com,Fulfilled transaction having ID : 966945,Hello! Sincere greetings for the day. I would ...,Complete
116322,Spike@JPMorgan.com,Patrick@CitiBankPune.com,Fulfilled transaction having ID : 116322,Greetings! I wanted to let you know that I hav...,Complete
457672,Stacy@SBI.com,Rudra@CitiBankHongKong.com,New Cheque book,"Hey, Can you please send me the detailed steps...",General
428111,Mike@HSBC.com,Dipesh@CitiBankLondon.com,Asking for the details for transaction 428111,"I need details of 428111 urgently, please prov...",Request
187238,Bella@DEUTSCHEBANK.com,Shai@CitiBankSingapore.com,Remaining amount for transaction 187238 to be ...,Hello!! Greetings for the day. Status of trans...,Pending
872763,David@DEUTSCHEBANK.com,Elena@CitiBankNewYork.com,Incomplete transaction 872763,Hello!! Greetings for the day. Status of trans...,Pending
986447,Jason@JPMorgan.com,Rudra@CitiBankHongKong.com,Soliciting information for ID : 986447,Please provide a status update on 986447 at th...,Request

In [9]:
import datetime

In [10]:
start_date = datetime.date(2018, 12, 1)
end_date = datetime.date(2020, 5, 31)

time_between_dates = end_date - start_date
days_between_dates = time_between_dates.days
date_column_data = [start_date + datetime.timedelta(days=random.randrange(days_between_dates)) for i in range(len(dataset))]
#print(date_column_data)

In [11]:
df['Payment Date'] = date_column_data

In [12]:
df.head(20)

,From,To,Subject,Body,Class,Payment Date
TransactionID,,,,,,
978466,Mike@SBI.com,Shai@CitiBankNewYork.com,Dealing with the transaction 978466,Hello! This is to inform you that I have recei...,Processing,2019-11-27
612268,Archie@DEUTSCHEBANK.com,Rishabh@CitiBankHongKong.com,Soliciting information for ID : 612268,Kindly reply to me at the earliest with the la...,Request,2020-03-09
972685,Adam@JPMorgan.com,Suhail@CitiBankPune.com,Required money acquired. Transaction 972685 is...,Hello! This is to inform you that I have recei...,Processing,2020-01-20
258259,David@HSBC.com,Rishabh@CitiBankNewYork.com,Payment received for transaction : 258259 and ...,Hello! This is to inform you that I have recei...,Processing,2019-02-27
854558,Archie@DESHAW.com,Shubhanshu@CitiBankPune.com,Completed transaction no. 854558,"To whom it may concern, I have successfully re...",Complete,2019-08-17
514816,Archie@DESHAW.com,Isabella@CitiBankNewYork.com,How to change PIN no of ATM card?,I have heard a lot about your bank and would l...,General,2019-03-19
533382,Bella@DEUTSCHEBANK.com,Rudra@CitiBankNewYork.com,Payment done and Transaction 533382 settled.,Glad to let you know that I got the desired pa...,Complete,2020-04-08
186936,Mike@HDFC.com,Liam@CitiBankHongKong.com,Transaction 186936 is complete,Greetings! I wanted to let you know that I hav...,Complete,2018-12-23
441718,Angela@JPMorgan.com,Shubhanshu@CitiBankHongKong.com,Handling the transaction 441718 after payment.,Hello! This is to inform you that I have recei...,Processing,2019-12-22
294281,Archie@DEUTSCHEBANK.com,Shai@CitiBankHongKong.com,Required money acquired. Transaction 294281 is...,Hello! This is to inform you that I have recei...,Processing,2019-09-18
344334,Phillip@DESHAW.com,Liam@CitiBankSingapore.com,Payment outstanding for transaction 344334,There has been only a partial payment of amoun...,Pending,2019-04-09
243698,Zachary@DEUTSCHEBANK.com,Rohan@CitiBankSingapore.com,Incomplete transaction 243698,The transaction 243698 is taking too long to c...,Pending,2020-01-28
194352,David@JPMorgan.com,Patrick@CitiBankHongKong.com,Payment received for transaction : 194352 and ...,Hello! This is to inform you that I have recei...,Processing,2019-09-03
966945,Zachary@SBI.com,Shubhanshu@CitiBankSingapore.com,Fulfilled transaction having ID : 966945,Hello! Sincere greetings for the day. I would ...,Complete,2019-01-28
116322,Spike@JPMorgan.com,Patrick@CitiBankPune.com,Fulfilled transaction having ID : 116322,Greetings! I wanted to let you know that I hav...,Complete,2019-02-21
457672,Stacy@SBI.com,Rudra@CitiBankHongKong.com,New Cheque book,"Hey, Can you please send me the detailed steps...",General,2019-11-01
428111,Mike@HSBC.com,Dipesh@CitiBankLondon.com,Asking for the details for transaction 428111,"I need details of 428111 urgently, please prov...",Request,2019-11-19
187238,Bella@DEUTSCHEBANK.com,Shai@CitiBankSingapore.com,Remaining amount for transaction 187238 to be ...,Hello!! Greetings for the day. Status of trans...,Pending,2020-02-07
872763,David@DEUTSCHEBANK.com,Elena@CitiBankNewYork.com,Incomplete transaction 872763,Hello!! Greetings for the day. Status of trans...,Pending,2020-01-15
986447,Jason@JPMorgan.com,Rudra@CitiBankHongKong.com,Soliciting information for ID : 986447,Please provide a status update on 986447 at th...,Request,2020-05-18

In [13]:
df.shape

(10000, 6)

In [14]:
#This the DataSet we Have generated
df.head()

,From,To,Subject,Body,Class,Payment Date
TransactionID,,,,,,
978466,Mike@SBI.com,Shai@CitiBankNewYork.com,Dealing with the transaction 978466,Hello! This is to inform you that I have recei...,Processing,2019-11-27
612268,Archie@DEUTSCHEBANK.com,Rishabh@CitiBankHongKong.com,Soliciting information for ID : 612268,Kindly reply to me at the earliest with the la...,Request,2020-03-09
972685,Adam@JPMorgan.com,Suhail@CitiBankPune.com,Required money acquired. Transaction 972685 is...,Hello! This is to inform you that I have recei...,Processing,2020-01-20
258259,David@HSBC.com,Rishabh@CitiBankNewYork.com,Payment received for transaction : 258259 and ...,Hello! This is to inform you that I have recei...,Processing,2019-02-27
854558,Archie@DESHAW.com,Shubhanshu@CitiBankPune.com,Completed transaction no. 854558,"To whom it may concern, I have successfully re...",Complete,2019-08-17

In [16]:
df.drop_duplicates(subset=['Subject','Body'],keep='first',inplace = True)
df.shape

(8965, 6)

In [17]:
df.to_csv(r'C:\Users\OINDREELA\Desktop\temp\emaildataset.csv', index = False)