In [1]:
#Email generation code

In [39]:
import pandas as pd
import numpy as np
#import import_ipynb

In [40]:
import msgbody
from msgbody import numgen, transacBank,transacClient , subClient, subBank

ModuleNotFoundError: No module named 'msgbody'

In [36]:
From=['@JPMorgan.com','@DeutscheBank.com','@BNYMellon.com','@HSBC.com','@SBI.com','@HDFC.com','@DESHAW.com']

#From2=['@CitiBankNewYork.com','@CitiBankLondon.com','@CitiBankPune.com','@CitiBankSingapore.com','@CitiBankHongKong.com']

#To1=['@JPMorgan.com','@DEUTSCHEBANK.com','@BNYMellon.com','@HSBC.com','@SBI.com','@HDFC.com','@DESHAW.com']

To=['@CitiBankNewYork.com','@CitiBankLondon.com','@CitiBankPune.com','@CitiBankSingapore.com','@CitiBankHongKong.com']

Subject2=['Update on payment request', 'Payment Status', 'Urgent: need transaction details','Transaction Complete','Transaction is in progress','Payment Failed','Payment is in progress','Waiting for amount pending','Transaction Failed','Payment Received']

name1=['Phillip','Mike','Jason','Adam','Morgan','Spike','Stacy','Dave','David','Bella','Angella','Stefeny']
name2=['Shai','Dipesh','Anthony','Isabella','Shanguisi','liFang','AjayNager','Sumit','Suhail','Shubhanshu']
currency = ['USD','GBP','CAD','EUR','INR','YEN']

In [37]:
import random
from random import randint

In [38]:
###Whenever you need to join a digit put->  ''.join(["{}".format(randint(1, 9)) for num in range(0, 6)])+   part in there

In [25]:
##BELOW IS THE CODE FOR A NUMBER IN SUBJECT AND BODY and Original Dataset generator

In [26]:
data2=[[]]

In [27]:
#final code for dataset generation from Bank to Client side
for i in range(len(name1)):
            for j in range(len(name2)):
                for k in range(10):
                    temp=numgen(6)
                    s1=random.choice(name1)+random.choice(From)
                    s2=random.choice(name2)+random.choice(To)
                    s3=subBank(temp)
                    s4=""
                    s5=""
                    words = s3.split()
                    for word in words:
                        word=word.lower()
                        if(word=='failed'):
                            s4=transacBank(3,temp)
                            s5='BankFailed'
                            break
                        elif(word=='pending' or word=='progress'):
                            s4=transacBank(2,temp)
                            s5='BankProgress'
                            break
                        elif(word=='complete' or word=='received'):
                            s4=transacBank(1,temp)
                            s5='BankComplete'
                            break
                        elif(word=='status' or word=='details' or word=='update'):
                            k=numgen(1)
                            if(k<'4'):
                                s4=transacBank(1,temp)
                                s5='BankComplete'
                            elif(k>'3' and k<'7'):
                                s4=transacBank(2,temp)
                                s5='BankProgress'
                            elif(k>'6'):
                                s4=transacBank(3,temp)
                                s5='BankFailed'
                            break
                        elif words=='provide' or word=='request':
                            s4=transacBank(4,temp)
                            s5='BankRequest'
                            break
                    
                    m=[s1,s2,s3,s4,s5,temp]
                    data2.append(m)

NameError: name 'numgen' is not defined

In [28]:
#final code for dataset generation from Client to Bank side
for i in range(len(From1)):
            for j in range(len(To2)):
                for k in range(11):
                    temp=numgen(6)
                    s1=random.choice(name1)+random.choice(To)
                    s2=random.choice(name2)+random.choice(From)
                    s3=subClient(temp)
                    s4=""
                    s5=""
                    words = s3.split()
                    for word in words:
                        word=word.lower()
                        if(word=='failed' or word=='failure'):
                            s4=transacClient(3,temp)
                            s5='ClientFailed'
                            break
                        elif(word=='pending' or word=='progress'):
                            s4=transacClient(2,temp)
                            s5='ClientProgress'
                            break
                        elif(word=='complete' or word=='received'):
                            s4=transacClient(1,temp)
                            s5='ClientComplete'
                            break
                        elif(word=='status' or word=='details' or word=='update' or word=='provide' or word=='request'):
                            s4=transacClient(4,temp)
                            s5='ClientStatus'
                            break
                    m=[s1,s2,s3,s4,s5,temp]
                    data2.append(m)

NameError: name 'numgen' is not defined

In [29]:
df = pd.DataFrame(data2, columns = ['From', 'To','Subject','Body','Class','TransactionID'])

AssertionError: 6 columns passed, passed data had 0 columns

In [30]:
df.head(20)

NameError: name 'df' is not defined

In [ ]:
import datetime

In [3]:
start_date = datetime.date(2018, 12, 1)
end_date = datetime.date(2020, 5, 31)

time_between_dates = end_date - start_date
days_between_dates = time_between_dates.days
date_column_data = [start_date + datetime.timedelta(days=random.randrange(days_between_dates)) for i in range(len(data2))]
#print(date_column_data)

NameError: name 'datetime' is not defined

In [4]:
df['Payment Date'] = date_column_data

NameError: name 'date_column_data' is not defined

In [16]:
df.head(10)

,From,To,Subject,Body,Class,TransactionID,Payment Date
0,None,None,None,None,None,None,2019-01-07
1,Bella@DESHAW.com,AjayNager@CitiBankPune.com,Payment Failed for 782376,Regret to inform that transaction GBP 761135co...,BankFailed,782376,2019-05-14
2,Mike@DEUTSCHEBANK.com,liFang@CitiBankHingKong.com,Transaction is in progress for 428375,Fund transfer for Account No. 428375 has stopp...,BankProgress,428375,2020-05-11
3,Phillip@HDFC.com,Sumit@CitiBankLondon.com,Current Update on Account No. 331537,"Due to incorrect details filled, USD 937458 ha...",BankFailed,331537,2019-03-26
4,Jason@DESHAW.com,Isabella@CitiBankNewYork.com,Payment Status for 387225,"Due to lack of funds, cheque no. 4819199844312...",BankFailed,387225,2020-02-12
5,Angella@HDFC.com,liFang@CitiBankNewYork.com,Urgent payment of pending amountUSD553541requi...,We are sorry but your fund transfer 553541 is ...,BankProgress,553541,2019-08-17
6,Mike@DESHAW.com,Suhail@CitiBankLondon.com,Payment Failed for 492153,"Due to incorrect details filled, EUR 945963 ha...",BankFailed,492153,2020-01-28
7,Dave@SBI.com,Dipesh@CitiBankHingKong.com,Acc 243458 Update,"Due to lack of funds, cheque no. 8919779943892...",BankFailed,243458,2020-02-03
8,Spike@DESHAW.com,Shubhanshu@CitiBankLondon.com,Provide the details regarding transaction: 148152,Greetings! This is to inform you that your tra...,BankComplete,148152,2019-02-27
9,Phillip@HDFC.com,Sumit@CitiBankHingKong.com,Urgent payment of pending amountEUR324534requi...,Fund transfer for Account No. 324534 has stopp...,BankProgress,324534,2019-12-14

In [17]:
df.drop(0,inplace=True)

In [18]:
df.reset_index(inplace=True)

In [19]:
df.head()

,index,From,To,Subject,Body,Class,TransactionID,Payment Date
0,1,Bella@DESHAW.com,AjayNager@CitiBankPune.com,Payment Failed for 782376,Regret to inform that transaction GBP 761135co...,BankFailed,782376,2019-05-14
1,2,Mike@DEUTSCHEBANK.com,liFang@CitiBankHingKong.com,Transaction is in progress for 428375,Fund transfer for Account No. 428375 has stopp...,BankProgress,428375,2020-05-11
2,3,Phillip@HDFC.com,Sumit@CitiBankLondon.com,Current Update on Account No. 331537,"Due to incorrect details filled, USD 937458 ha...",BankFailed,331537,2019-03-26
3,4,Jason@DESHAW.com,Isabella@CitiBankNewYork.com,Payment Status for 387225,"Due to lack of funds, cheque no. 4819199844312...",BankFailed,387225,2020-02-12
4,5,Angella@HDFC.com,liFang@CitiBankNewYork.com,Urgent payment of pending amountUSD553541requi...,We are sorry but your fund transfer 553541 is ...,BankProgress,553541,2019-08-17

In [20]:
df.drop(["index"],axis=1,inplace=True)

In [21]:
df.shape

(1585, 7)

In [22]:
#This the DataSet we Have generated
df.head()

,From,To,Subject,Body,Class,TransactionID,Payment Date
0,Bella@DESHAW.com,AjayNager@CitiBankPune.com,Payment Failed for 782376,Regret to inform that transaction GBP 761135co...,BankFailed,782376,2019-05-14
1,Mike@DEUTSCHEBANK.com,liFang@CitiBankHingKong.com,Transaction is in progress for 428375,Fund transfer for Account No. 428375 has stopp...,BankProgress,428375,2020-05-11
2,Phillip@HDFC.com,Sumit@CitiBankLondon.com,Current Update on Account No. 331537,"Due to incorrect details filled, USD 937458 ha...",BankFailed,331537,2019-03-26
3,Jason@DESHAW.com,Isabella@CitiBankNewYork.com,Payment Status for 387225,"Due to lack of funds, cheque no. 4819199844312...",BankFailed,387225,2020-02-12
4,Angella@HDFC.com,liFang@CitiBankNewYork.com,Urgent payment of pending amountUSD553541requi...,We are sorry but your fund transfer 553541 is ...,BankProgress,553541,2019-08-17

In [23]:
df.to_csv(r'C:\Users\Siddharth\Desktop\temp\emaildataset.csv', index = False)