In [1]:
#Email generation code

In [1]:
import pandas as pd
import random
import datetime
import import_ipynb

In [2]:
import msgbody
from msgbody import numgen, subjectGenerator, bodyGenerator

importing Jupyter notebook from msgbody.ipynb

In [3]:
fromClient=['@JPMorgan.com','@DEUTSCHEBANK.com','@BNYMellon.com','@HSBC.com','@SBI.com','@HDFC.com','@DESHAW.com']

toCiti=['@CitiBankNewYork.com','@CitiBankLondon.com','@CitiBankPune.com','@CitiBankSingapore.com','@CitiBankHongKong.com']

clientName=['Phillip','Mike','Jason','Adam','Morgan','Spike','Stacy','Dave','David','Bella','Angela','Stefanie','Archie','Jacob','Zachary','Yasmin']

citiName=['Shai','Dipesh','Anthony','Isabella','Shaniece','Liam','Rishabh','Sumit','Suhail','Shubhanshu','Rohan','Neha','Patrick','Rudra','Elena']

In [17]:
##BELOW IS THE CODE FOR A NUMBER IN SUBJECT AND BODY and Original Dataset generator

In [4]:
dataset = []
classes = [ 'Complete', 'Failed', 'Pending', 'Request', 'Processing', 'General']

In [13]:
for i in range(10000):
    client_email = random.choice(clientName) + random.choice(fromClient)
    citi_email = random.choice(citiName) + random.choice(toCiti)
    ID = numgen(6)
    class_ = random.choice(classes)
    subject = subjectGenerator(class_,str(ID))
    body = bodyGenerator(class_,str(ID))
    row = [client_email, citi_email, subject, body, class_, ID]
    dataset.append(row)

In [14]:
df = pd.DataFrame(dataset, columns = ['From', 'To','Subject','Body','Class','TransactionID'],index = [i+1 for i in range(len(dataset))])

In [15]:
start_date = datetime.date(2018, 12, 1)
end_date = datetime.date(2020, 5, 31)

time_between_dates = end_date - start_date
days_between_dates = time_between_dates.days
date_column_data = [start_date + datetime.timedelta(days=random.randrange(days_between_dates)) for i in range(len(dataset))]

In [16]:
df['Payment Date'] = date_column_data

In [17]:
df.shape

(20000, 7)

In [18]:
#This the DataSet we Have generated
df.head()

,From,To,Subject,Body,Class,TransactionID,Payment Date
1,Spike@HDFC.com,Rudra@CitiBankLondon.com,Why has my transaction 146599 stopped?,This is to notify you that my transaction 1465...,Failed,146599,2019-06-02
2,Jacob@BNYMellon.com,Elena@CitiBankSingapore.com,Request to send details of transaction 879091,I request you to kindly send the status of my ...,Request,879091,2019-08-17
3,Angela@BNYMellon.com,Liam@CitiBankPune.com,The pending amount for transaction 121476 will...,"Hey, sincere apologies for transferring a frac...",Pending,121476,2020-03-09
4,Dave@HSBC.com,Shubhanshu@CitiBankSingapore.com,Fulfilled transaction having ID : 009628,"To whom it may concern, I have successfully re...",Complete,009628,2019-07-10
5,Archie@BNYMellon.com,Suhail@CitiBankNewYork.com,Send steps to activate online banking,I would like to know the instructions to be fo...,General,417125,2019-03-13

In [19]:
df.drop_duplicates(subset=['Subject','Body'],keep='first',inplace = True)
df.shape

(18779, 7)

In [20]:
df.to_csv(r'C:\Users\OINDREELA\Desktop\temp\emaildataset.csv', index = False)