In [1]:
#Email generation code

In [2]:
import pandas as pd
import numpy as np
import import_ipynb

In [3]:
import msgbody
from msgbody import numgen, transacBank,transacclient , subclient, subBank

importing Jupyter notebook from msgbody.ipynb

In [4]:
From1=['@JPMorgan.com','@DEUTSCHEBANK.com','@BNYMellon.com','@HSBC.com','@CitiBankNewYork.com','@CitiBankLondon.com']

To2=['@CitiBankNewYork.com','@CitiBankLondon.com','@CitiBankPune.com','@CitiBankSingapore.com','@CitiBankHingKong.com']

Subject2=['Update on payment request', 'Payment Status', 'Urrgent: need transaction details','Transaction Complete','Transaction is in progress','Payment Failed','Payment is in progress','Waiting for amount pending','Transaction Failed','Payment Received']

name1=['Phillip','Mike','Jason','Adam','Morgan','Spike','Stacy','William']
name2=['Shai','Dipesh','Anthony','Isabella','Alice']
currency = ['USD','GBP','CAD','EUR']

In [5]:
data1=[[]]

In [6]:
import random
from random import randint

In [7]:
###Whenever you need to join a digit put->  ''.join(["{}".format(randint(1, 9)) for num in range(0, 6)])+   part in there

In [8]:
##BELOW IS THE CODE FOR A NUMBER IN SUBJECT AND BODY and Original Dataset generator

In [9]:
data2=[[]]

In [10]:
#final code for dataset generation
for i in range(len(From1)):
            for j in range(len(To2)):
                for k in range(len(Subject2)):
                    temp=numgen(6)
                    s1=random.choice(name1)+random.choice(From1)
                    s2=random.choice(name2)+random.choice(To2)
                    s3=subclient(temp)
                    s4=""
                    s5=""
                    words = s3.split()
                    for word in words:
                        word=word.lower()
                        if(word=='failed'):
                            s4=transacBank(3,temp)
                            s5='A'
                        elif(word=='pending' or word=='progress' or word=='update'):
                            s4=transacBank(2,temp)
                            s5='B'
                        elif(word=='complete' or word=='received'):
                            s4=transacBank(1,temp)
                            s5='C'
                        elif(word=='status' or word=='request' or word=='details'):
                            s4=transacBank(4,temp)
                            s5='D'
                    m=[s1,s2,s3,s4,s5]
                    data2.append(m)

In [11]:
df = pd.DataFrame(data2, columns = ['From', 'To','Subject','Body','Class(output)'])

In [12]:
df.head(20)

,From,To,Subject,Body,Class(output)
0,None,None,None,None,None
1,Phillip@CitiBankLondon.com,Anthony@CitiBankSingapore.com,Payment in Progress Acc 183953,Due to server overflow transaction 183953 will...,B
2,Adam@CitiBankNewYork.com,Anthony@CitiBankNewYork.com,Waiting for Loan amount pending for 751334,Fund transfer for ACC No. 751334 has partially...,B
3,Spike@BNYMellon.com,Isabella@CitiBankLondon.com,Payment in Progress Acc 588991,Payment 588991 will be completed within two days,B
4,Morgan@HSBC.com,Dipesh@CitiBankNewYork.com,Payment is in progress for 833585,Due to server overflow transaction 833585 will...,B
5,Adam@DEUTSCHEBANK.com,Shai@CitiBankHingKong.com,Payment in Progress Acc 442513,Due to server overflow transaction 442513 will...,B
6,Morgan@HSBC.com,Anthony@CitiBankHingKong.com,Urgent : need transaction details for 281882,Please find the details of your account 281882...,D
7,Jason@HSBC.com,Anthony@CitiBankSingapore.com,Urgent : need transaction details for 695428,Please find the details of your account 695428...,D
8,Adam@CitiBankLondon.com,Dipesh@CitiBankLondon.com,Payment in Progress Acc 377797,Due to server overflow transaction 377797 will...,B
9,Jason@BNYMellon.com,Isabella@CitiBankNewYork.com,Update on payment request for 162397,Kindly provide the details for Acc no. 162397 ...,D
10,Adam@CitiBankNewYork.com,Shai@CitiBankNewYork.com,Waiting for Loan amount pending for 915491,Payment 915491 will be completed within two days,B
11,Morgan@HSBC.com,Dipesh@CitiBankPune.com,Update on payment request for 512536,Kindly provide the details for Acc no. 512536 ...,D
12,Phillip@HSBC.com,Shai@CitiBankNewYork.com,Update on payment request for 771471,We have received your request and will be send...,D
13,Jason@BNYMellon.com,Anthony@CitiBankPune.com,Payment Received for 827982,The transaction of amount CAD 224984 has been ...,C
14,Stacy@CitiBankNewYork.com,Shai@CitiBankSingapore.com,Payment is in progress for 716319,Fund transfer for ACC No. 716319 has partially...,B
15,Phillip@HSBC.com,Shai@CitiBankSingapore.com,Payment Received for 161974,The transaction of amount CAD 639491 has been ...,C
16,Spike@CitiBankNewYork.com,Isabella@CitiBankHingKong.com,Transaction is in progress for 998555,Payment 998555 will be completed within two days,B
17,Morgan@CitiBankLondon.com,Anthony@CitiBankHingKong.com,Transaction is in progress for 153661,Payment 153661 will be completed within two days,B
18,Stacy@CitiBankNewYork.com,Anthony@CitiBankPune.com,Payment is in progress for 322142,Due to server overflow transaction 322142 will...,B
19,Adam@JPMorgan.com,Isabella@CitiBankLondon.com,Waiting for Loan amount pending for 825445,Payment 825445 will be completed within two days,B

In [13]:
import datetime

In [14]:
start_date = datetime.date(2018, 12, 1)
end_date = datetime.date(2020, 5, 31)

time_between_dates = end_date - start_date
days_between_dates = time_between_dates.days
date_column_data = [start_date + datetime.timedelta(days=random.randrange(days_between_dates)) for i in range(len(data2))]
#print(date_column_data)

In [15]:
df['Payment Date'] = date_column_data

In [16]:
df.head(100)

,From,To,Subject,Body,Class(output),Payment Date
0,None,None,None,None,None,2019-01-24
1,Phillip@CitiBankLondon.com,Anthony@CitiBankSingapore.com,Payment in Progress Acc 183953,Due to server overflow transaction 183953 will...,B,2020-01-06
2,Adam@CitiBankNewYork.com,Anthony@CitiBankNewYork.com,Waiting for Loan amount pending for 751334,Fund transfer for ACC No. 751334 has partially...,B,2019-10-08
3,Spike@BNYMellon.com,Isabella@CitiBankLondon.com,Payment in Progress Acc 588991,Payment 588991 will be completed within two days,B,2019-07-05
4,Morgan@HSBC.com,Dipesh@CitiBankNewYork.com,Payment is in progress for 833585,Due to server overflow transaction 833585 will...,B,2020-05-03
...,...,...,...,...,...,...
95,Stacy@BNYMellon.com,Dipesh@CitiBankHingKong.com,Payment is in progress for 185677,Payment 185677 will be completed within two days,B,2020-04-27
96,Spike@CitiBankNewYork.com,Shai@CitiBankSingapore.com,Urgent : need transaction details for 643186,Please find the details of your account 643186...,D,2020-01-17
97,Jason@JPMorgan.com,Isabella@CitiBankSingapore.com,Payment Received for 675811,The transaction for amount CAD 512319 related ...,C,2020-01-21
98,Adam@CitiBankNewYork.com,Shai@CitiBankPune.com,Waiting for Loan amount pending for 156342,Due to server overflow transaction 156342 will...,B,2019-03-05
99,Phillip@CitiBankNewYork.com,Anthony@CitiBankSingapore.com,Payment Received for 946968,The transaction for amount CAD 567384 related ...,C,2019-01-06

In [17]:
df.drop(0,inplace=True)

In [18]:
df.reset_index(inplace=True)

In [19]:
df.head()

,index,From,To,Subject,Body,Class(output),Payment Date
0,1,Phillip@CitiBankLondon.com,Anthony@CitiBankSingapore.com,Payment in Progress Acc 183953,Due to server overflow transaction 183953 will...,B,2020-01-06
1,2,Adam@CitiBankNewYork.com,Anthony@CitiBankNewYork.com,Waiting for Loan amount pending for 751334,Fund transfer for ACC No. 751334 has partially...,B,2019-10-08
2,3,Spike@BNYMellon.com,Isabella@CitiBankLondon.com,Payment in Progress Acc 588991,Payment 588991 will be completed within two days,B,2019-07-05
3,4,Morgan@HSBC.com,Dipesh@CitiBankNewYork.com,Payment is in progress for 833585,Due to server overflow transaction 833585 will...,B,2020-05-03
4,5,Adam@DEUTSCHEBANK.com,Shai@CitiBankHingKong.com,Payment in Progress Acc 442513,Due to server overflow transaction 442513 will...,B,2019-10-09

In [20]:
df.drop(["index"],axis=1,inplace=True)

In [21]:
#This the DataSet we Have generated
df.head()

,From,To,Subject,Body,Class(output),Payment Date
0,Phillip@CitiBankLondon.com,Anthony@CitiBankSingapore.com,Payment in Progress Acc 183953,Due to server overflow transaction 183953 will...,B,2020-01-06
1,Adam@CitiBankNewYork.com,Anthony@CitiBankNewYork.com,Waiting for Loan amount pending for 751334,Fund transfer for ACC No. 751334 has partially...,B,2019-10-08
2,Spike@BNYMellon.com,Isabella@CitiBankLondon.com,Payment in Progress Acc 588991,Payment 588991 will be completed within two days,B,2019-07-05
3,Morgan@HSBC.com,Dipesh@CitiBankNewYork.com,Payment is in progress for 833585,Due to server overflow transaction 833585 will...,B,2020-05-03
4,Adam@DEUTSCHEBANK.com,Shai@CitiBankHingKong.com,Payment in Progress Acc 442513,Due to server overflow transaction 442513 will...,B,2019-10-09

In [22]:
##df.to_csv(r'C:\Users\Siddharth\Desktop\temp\emaildataset.csv', index = False)