In [76]:
import pandas as pd
import numpy as np

In [77]:
From1=['@JPMorgan.com','@DEUTSCHEBANK.com','@BNYMellon.com','@HSBC.com','@CitiBankNewYork.com','@CitiBankLondon.com']

To2=['@CitiBankNewYork.com','@CitiBankLondon.com','@CitiBankPune.com','@CitiBankSingapore.com','@CitiBankHingKong.com']

Subject2=['Update on payment request', 'Payment Status', 'Urrgent: need transaction details','Transaction Complete','Transaction is in progress','Payment Failed','Payment is in progress','Waiting for amount pending','Transaction Failed','Payment Received']

name1=['Phillip','Mike','Jason','Adam','Morgan','Spike','Stacy']
name2=['Shai','Dipesh','Anthony','Isabella']
currency = ['USD','GBP','CAD','EUR']

In [78]:
data1=[[]]

In [79]:
import random
from random import randint

In [80]:
transacC=['The transaction ' + ''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' related to investment funds has been successfully completed.',
'The transaction ' +''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' have been received.',
'Full payment for update ' +''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' is successfully received.']

transacP=['The transaction ' + ''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' is taking too long to be completed',
'Fund transfer for ACC No. ' + ''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' has partially stopped due to unknown technical error. We regret the inconvenience.',
'Due to server overflow transaction ' + ''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' will be completed within seven to ten working days',
'Payment ' + ''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' will be completed within two days']

transacF=['Due to an unknown technical error, your transaction ' + ''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' have been cancelled.',
'Payment ' + ''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' have been cancelled as per your request.',
'Lack of funds, check no. ' + ''.join(["{}".format(randint(1, 9)) for num in range(0, 24)]) + ' has been bounced.']

transacR=[
    'Kindly provide the details for Acc no.'+''.join(["{}".format(randint(1, 9)) for num in range(0, 6)])+ ' at the earliest',
    'Please find the details of your account '+''.join(["{}".format(randint(1, 9)) for num in range(0, 6)])+ ' attached',
    'We have received your request and will be sending you the details of acc '+''.join(["{}".format(randint(1, 9)) for num in range(0, 6)])+ 'soon.'
]

In [81]:
for i in range(len(From1)):
            for j in range(len(To2)):
                for k in range(len(Subject2)):
                    s1=random.choice(name1)+random.choice(From1)
                    s2=random.choice(name2)+random.choice(To2)
                    s3=random.choice(Subject2)
                    s4=""
                    s5=""
                    words = s3.split()
                    if(words[-1]=='Failed'):
                        s4=random.choice(transacF)
                        s5='A'
                    elif(words[-1]=='pending' or words[-1]=='progress'):
                        s4=random.choice(transacP)
                        s5='B'
                    elif(words[-1]=='Complete' or words[-1]=='Received'):
                        s4=random.choice(transacC)
                        s5='C'
                    elif(words[-1]=='Status' or words[-1]=='request' or words[-1]=='details'):
                        s4=random.choice(transacR)
                        s5='D'
                    m=[s1,s2,s3,s4,s5]
                    data1.append(m)

In [82]:
df1 = pd.DataFrame(data1, columns = ['From', 'To','Subject','Body','Class(output)'])

In [83]:
df1.head(100)

,From,To,Subject,Body,Class(output)
0,None,None,None,None,None
1,Spike@CitiBankNewYork.com,Isabella@CitiBankHingKong.com,Waiting for amount pending,Fund transfer for ACC No. 265922 has partially...,B
2,Mike@DEUTSCHEBANK.com,Isabella@CitiBankLondon.com,Urrgent: need transaction details,Please find the details of your account 562687...,D
3,Phillip@BNYMellon.com,Anthony@CitiBankLondon.com,Transaction Failed,"Due to an unknown technical error, your transa...",A
4,Jason@BNYMellon.com,Dipesh@CitiBankLondon.com,Waiting for amount pending,The transaction 238944 is taking too long to b...,B
...,...,...,...,...,...
95,Morgan@CitiBankNewYork.com,Anthony@CitiBankLondon.com,Transaction Complete,Full payment for update 215749 is successfully...,C
96,Stacy@HSBC.com,Isabella@CitiBankPune.com,Payment is in progress,Payment 925992 will be completed within two days,B
97,Stacy@DEUTSCHEBANK.com,Isabella@CitiBankLondon.com,Update on payment request,We have received your request and will be send...,D
98,Jason@CitiBankLondon.com,Anthony@CitiBankSingapore.com,Update on payment request,Kindly provide the details for Acc no.175178 a...,D
99,Jason@HSBC.com,Shai@CitiBankLondon.com,Transaction is in progress,The transaction 238944 is taking too long to b...,B

In [76]:
#Whenever you need to join a digit put->  ''.join(["{}".format(randint(1, 9)) for num in range(0, 6)])+ ' sdjvbksd')  part in there

981436 sdjvbksd

In [185]:
#BELOW IS THE CODE FOR A NUMBER IN SUBJECT AND BODY

In [84]:
def numbergen(n):
    return ''.join(["{}".format(randint(1, 9)) for num in range(0, n)])

In [85]:
def sub(s):
    subject=[' Acc ' + s + ' Update','Payment in Progress Acc ' + s,'Update on Acc '+ s,' update on payment request for' + s ,'Payment Status for ' + s,'Urgent : need transaction details for ' + s,'Transaction Complete for ' + s,'Transaction is in progress for ' + s,'Payment Failed for ' + s,'Payment is in progress for ' + s,'Waiting for amount pending for '+ s,'Transaction Failed for' + s,'Payment Received for' + s]
    return random.choice(subject)

In [86]:
def transac(n,s):
    
    transacC=['The transaction for amount ' + random.choice(currency)+ ''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' related to investment funds has been successfully completed.',
    'The transaction of amount ' +random.choice(currency)+''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' has been received successfully.',
    'Full payment for amount ' +random.choice(currency)+''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' has been successfully received.']

    transacP=['The transaction for amount '+ random.choice(currency)+''.join(["{}".format(randint(1, 9)) for num in range(0, 6)])+'for acc no.' + ''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' is taking too long to complete.',
    'Fund transfer for ACC No. ' + ''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' has partially stopped due to unknown technical error. We will notify when it resumes.',
    'Due to server overflow , transaction of ' + random.choice(currency) + ''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' will be completed within seven to ten working days. We deeply regret the inconvenience caused',
    'Payment ' +random.choice(currency)+ ''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' will be completed within two days']

    transacF=['Due to unknown technical errors, your transaction for amount' + random.choice(currency)+''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' has been cancelled.',
    'Payment of ' + random.choice(currency)+ ''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' has been cancelled as per your request.',
    'Due to lack of funds, cheque no. ' + ''.join(["{}".format(randint(1, 9)) for num in range(0, 24)]) + ' has bounced. Kindly ensure that you have enough funds and then submit a new cheque at the earliest.']

    transacR=['Kindly provide the details for Acc no.'+''.join(["{}".format(randint(1, 9)) for num in range(0, 6)])+ ' at the earliest',
    'Please find the details of your account '+''.join(["{}".format(randint(1, 9)) for num in range(0, 6)])+ ' attached',
    'We have received your request and will be sending you the details of acc '+''.join(["{}".format(randint(1, 9)) for num in range(0, 6)])+ 'soon.']
    if(n==1):
        return random.choice(transacC)
    elif n==2:
        return random.choice(transacP)
    elif n==3:
        return random.choice(transacF)
    elif n==4:
        return random.choice(transacR)

In [87]:
data2=[[]]

In [88]:
for i in range(len(From1)):
            for j in range(len(To2)):
                for k in range(len(Subject2)):
                    temp=''.join(["{}".format(randint(1, 9)) for num in range(0, 6)])
                    s1=random.choice(name1)+random.choice(From1)
                    s2=random.choice(name2)+random.choice(To2)
                    s3=sub(temp)
                    s4=""
                    s5=""
                    words = s3.split()
                    if(words[-1]=='Failed'):
                        s4=transac(3,temp)
                        s5='A'
                    elif(words[-1]=='pending' or words[-1]=='progress' or words[-1]=='Update' or words[-1]==temp):
                        s4=transac(2,temp)
                        s5='B'
                    elif(words[-1]=='Complete' or words[-1]=='Received'):
                        s4=transac(1,temp)
                        s5='C'
                    elif(words[-1]=='Status' or words[-1]=='request' or words[-1]=='details'):
                        s4=transac(4,temp)
                        s5='D'
                    m=[s1,s2,s3,s4,s5]
                    data2.append(m)

In [89]:
df = pd.DataFrame(data2, columns = ['From', 'To','Subject','Body','Class(output)'],index = [i for i in range(1,len(data2)+1)])

In [90]:
df.head(20)

,From,To,Subject,Body,Class(output)
1,None,None,None,None,None
2,Adam@JPMorgan.com,Shai@CitiBankPune.com,update on payment request for855786,,
3,Adam@CitiBankLondon.com,Isabella@CitiBankSingapore.com,update on payment request for783595,,
4,Adam@CitiBankLondon.com,Shai@CitiBankLondon.com,Payment is in progress for 463251,Fund transfer for ACC No. 343681 has partially...,B
5,Phillip@DEUTSCHEBANK.com,Anthony@CitiBankHingKong.com,Update on Acc 443325,Fund transfer for ACC No. 816245 has partially...,B
6,Stacy@BNYMellon.com,Shai@CitiBankSingapore.com,Acc 192732 Update,Fund transfer for ACC No. 522349 has partially...,B
7,Spike@HSBC.com,Shai@CitiBankPune.com,Payment in Progress Acc 433863,The transaction for amountUSD883948for acc no....,B
8,Phillip@HSBC.com,Isabella@CitiBankSingapore.com,Waiting for amount pending for 584951,Fund transfer for ACC No. 475745 has partially...,B
9,Morgan@BNYMellon.com,Dipesh@CitiBankLondon.com,Acc 829158 Update,Payment 359289 will be completed within two days,B
10,Spike@DEUTSCHEBANK.com,Shai@CitiBankPune.com,Transaction Failed for667478,,
11,Phillip@CitiBankNewYork.com,Anthony@CitiBankLondon.com,Payment Received for226152,,
12,Spike@JPMorgan.com,Anthony@CitiBankLondon.com,Payment Status for 417598,Payment 665988 will be completed within two days,B
13,Spike@CitiBankLondon.com,Dipesh@CitiBankPune.com,Payment Failed for 286313,Payment 823768 will be completed within two days,B
14,Morgan@BNYMellon.com,Isabella@CitiBankLondon.com,Payment Received for532788,,
15,Phillip@DEUTSCHEBANK.com,Shai@CitiBankNewYork.com,Payment in Progress Acc 935842,Payment 912883 will be completed within two days,B
16,Adam@CitiBankLondon.com,Shai@CitiBankHingKong.com,Payment in Progress Acc 711395,Due to server overflow transaction 917283 will...,B
17,Spike@DEUTSCHEBANK.com,Anthony@CitiBankLondon.com,update on payment request for717294,,
18,Jason@HSBC.com,Dipesh@CitiBankLondon.com,Acc 618114 Update,The transaction for amountCAD729265for acc no....,B
19,Spike@DEUTSCHEBANK.com,Dipesh@CitiBankLondon.com,Urgent : need transaction details for 651734,The transaction for amountGBP586285for acc no....,B
20,Morgan@HSBC.com,Anthony@CitiBankLondon.com,Urgent : need transaction details for 835449,Fund transfer for ACC No. 494229 has partially...,B

In [91]:
import datetime

In [92]:
start_date = datetime.date(2018, 12, 1)
end_date = datetime.date(2020, 5, 31)

time_between_dates = end_date - start_date
days_between_dates = time_between_dates.days
date_column_data = [start_date + datetime.timedelta(days=random.randrange(days_between_dates)) for i in range(len(data2))]
#print(date_column_data)

In [93]:
df['Payment Date'] = date_column_data

In [95]:
df.head(100)

,From,To,Subject,Body,Class(output),Payment Date
1,None,None,None,None,None,2019-04-03
2,Adam@JPMorgan.com,Shai@CitiBankPune.com,update on payment request for855786,,,2019-08-15
3,Adam@CitiBankLondon.com,Isabella@CitiBankSingapore.com,update on payment request for783595,,,2020-01-18
4,Adam@CitiBankLondon.com,Shai@CitiBankLondon.com,Payment is in progress for 463251,Fund transfer for ACC No. 343681 has partially...,B,2019-01-03
5,Phillip@DEUTSCHEBANK.com,Anthony@CitiBankHingKong.com,Update on Acc 443325,Fund transfer for ACC No. 816245 has partially...,B,2019-05-22
...,...,...,...,...,...,...
96,Spike@BNYMellon.com,Anthony@CitiBankSingapore.com,Acc 566364 Update,The transaction for amountUSD752886for acc no....,B,2020-05-07
97,Jason@JPMorgan.com,Shai@CitiBankLondon.com,Transaction Complete for 994855,Due to server overflow transaction 363537 will...,B,2020-02-03
98,Adam@CitiBankLondon.com,Anthony@CitiBankSingapore.com,Payment Received for333876,,,2019-05-03
99,Morgan@HSBC.com,Anthony@CitiBankNewYork.com,Payment in Progress Acc 495619,Payment 849241 will be completed within two days,B,2020-03-08
100,Mike@BNYMellon.com,Shai@CitiBankLondon.com,Payment in Progress Acc 934771,Payment 426956 will be completed within two days,B,2019-07-23

In [96]:
df.to_csv(r'G:\emaildataset.csv', index = False)