In [1]:
import pandas as pd
import numpy as np

In [110]:
From1=['@JPMorgan.com','@DEUTSCHEBANK.com','@BNYMellon.com','@HSBC.com','@CitiBankNewYork.com','@CitiBankLondon.com']

To2=['@CitiBankNewYork.com','@CitiBankLondon.com','@CitiBankPune.com','@CitiBankSingapore.com','@CitiBankHingKong.com']

Subject2=['update on payment request', 'payment Status', 'urgent: need transaction details','Transacion Complete','Transaction is in progress','Payment Failed','Payment is in progress','Waiting for amount pending','Transaction Failed','Payment Received']

name1=['Phillip','Mike','Jason','Adam','Morgan','Spike','Stig']
name2=['Hangchu','Dipesh','Anthony','Esabella']

In [119]:
data1=[[]]

In [120]:
import random
from random import randint

In [121]:
transacC=['The transaction ' + ''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' related to investment funds hve been sussceefully completed.',
'The transaction ' +''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' have been recieved.',
'Full payment for update ' +''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' is successfully recieved.']

transacP=['The trasaction ' + ''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' is taking too long to be completed',
'Fund transfer for ACC No. ' + ''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' is partially stoped due to unknown technical error',
'Due to server overflow transaction ' + ''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' will be completed within seven to ten working days',
'Payment ' + ''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' will be completed within two days']

transacF=['Due to unknown technical errors, your transaction ' + ''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' have been cancalled.',
'Payment ' + ''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' have been cancelled as per your request.',
'Lack of funds, check no. ' + ''.join(["{}".format(randint(1, 9)) for num in range(0, 24)]) + ' has been bounced.']

transacR=[
    " "+''.join(["{}".format(randint(1, 9)) for num in range(0, 6)])+ ' sdjvbksd',
    'aaaaa '+''.join(["{}".format(randint(1, 9)) for num in range(0, 6)])+ ' qqqqqq'
]

In [122]:
for i in range(len(From1)):
            for j in range(len(To2)):
                for k in range(len(Subject2)):
                    s1=random.choice(name1)+random.choice(From1)
                    s2=random.choice(name2)+random.choice(To2)
                    s3=random.choice(Subject2)
                    s4=""
                    s5=""
                    words = s3.split()
                    if(words[-1]=='Failed'):
                        s4=random.choice(transacF)
                        s5='A'
                    elif(words[-1]=='pending' or words[-1]=='progress'):
                        s4=random.choice(transacP)
                        s5='B'
                    elif(words[-1]=='Complete' or words[-1]=='Received'):
                        s4=random.choice(transacC)
                        s5='C'
                    elif(words[-1]=='Status' or words[-1]=='request' or words[-1]=='details'):
                        s4=random.choice(transacR)
                        s5='D'
                    m=[s1,s2,s3,s4,s5]
                    data1.append(m)

In [123]:
df1 = pd.DataFrame(data1, columns = ['From', 'To','Subject','Body','Class(output)'])

In [124]:
df1.head(100)

,From,To,Subject,Body,Class(output)
0,None,None,None,None,None
1,Adam@JPMorgan.com,Anthony@CitiBankLondon.com,update on payment request,671754 sdjvbksd,D
2,Mike@CitiBankLondon.com,Anthony@CitiBankSingapore.com,Transacion Complete,Full payment for update 796456 is successfully...,C
3,Stig@BNYMellon.com,Dipesh@CitiBankLondon.com,urgent: need transaction details,aaaaa 348467 qqqqqq,D
4,Adam@DEUTSCHEBANK.com,Esabella@CitiBankSingapore.com,update on payment request,671754 sdjvbksd,D
...,...,...,...,...,...
95,Phillip@CitiBankLondon.com,Esabella@CitiBankLondon.com,Payment Failed,"Lack of funds, check no. 927524418729687824216...",A
96,Adam@HSBC.com,Dipesh@CitiBankLondon.com,update on payment request,671754 sdjvbksd,D
97,Jason@CitiBankLondon.com,Hangchu@CitiBankSingapore.com,Transacion Complete,The transaction 742978 have been recieved.,C
98,Adam@CitiBankNewYork.com,Dipesh@CitiBankNewYork.com,Transacion Complete,The transaction 742978 have been recieved.,C
99,Jason@CitiBankNewYork.com,Hangchu@CitiBankSingapore.com,urgent: need transaction details,aaaaa 348467 qqqqqq,D

In [76]:
#Whenever you need to join a digit put->  ''.join(["{}".format(randint(1, 9)) for num in range(0, 6)])+ ' sdjvbksd')  part in there

981436 sdjvbksd

In [185]:
#BELOW IS THE CODE FOR A NUMBER IN SUBJECT AND BODY

In [125]:
def numbergen(n):
    return ''.join(["{}".format(randint(1, 9)) for num in range(0, n)])

In [162]:
def sub(s):
    subject=[' Acc ' + s + ' Update','Payment in Progress Acc ' + s,'Update on Acc '+ s,s + ' update on payment request' ,s + 'payment Status',s + 'urgent: need transaction details',s +'Transacion Complete',s+'Transaction is in progress',s+'Payment Failed',s+ 'Payment is in progress',s+'Waiting for amount pending',s+'Transaction Failed',s+'Payment Received']
    return random.choice(subject)

In [163]:
def transac(n,s):
    transacC=['The transaction ' + s + ' related to investment funds hve been sussceefully completed.',
    'The transaction ' +s + ' have been recieved.',
    'Full payment for update ' +s + ' is successfully recieved.']

    transacP=['The trasaction ' +s + ' is taking too long to be completed',
    'Fund transfer for ACC No. ' + s + ' is partially stoped due to unknown technical error',
    'Due to server overflow transaction ' + s + ' will be completed within seven to ten working days',
    'Payment ' + s + ' will be completed within two days']

    transacF=['Due to unknown technical errors, your transaction ' + s + ' have been cancalled.',
    'Payment ' + s + ' have been cancelled as per your request.',
    'Lack of funds, check no. ' + s + ' has been bounced.']

    transacR=[
    " "+ s + ' sdjvbksd',
    'aaaaa '+ s + ' qqqqqq'
    ]
    if(n==1):
        return random.choice(transacC)
    elif n==2:
        return random.choice(transacP)
    elif n==3:
        return random.choice(transacF)
    elif n==4:
        return random.choice(transacR)

In [181]:
data2=[[]]

In [182]:
for i in range(len(From1)):
            for j in range(len(To2)):
                for k in range(len(Subject2)):
                    temp=''.join(["{}".format(randint(1, 9)) for num in range(0, 6)])
                    s1=random.choice(name1)+random.choice(From1)
                    s2=random.choice(name2)+random.choice(To2)
                    s3=sub(temp)
                    s4=""
                    s5=""
                    words = s3.split()
                    if(words[-1]=='Failed'):
                        s4=transac(3,temp)
                        s5='A'
                    elif(words[-1]=='pending' or words[-1]=='progress' or words[-1]=='Update' or words[-1]==temp):
                        s4=transac(2,temp)
                        s5='B'
                    elif(words[-1]=='Complete' or words[-1]=='Received'):
                        s4=transac(1,temp)
                        s5='C'
                    elif(words[-1]=='Status' or words[-1]=='request' or words[-1]=='details'):
                        s4=transac(4,temp)
                        s5='D'
                    m=[s1,s2,s3,s4,s5]
                    data2.append(m)

['168717Waiting', 'for', 'amount', 'pending']
pending
['413891Transaction', 'is', 'in', 'progress']
progress
['988795urgent:', 'need', 'transaction', 'details']
details
['613137Transaction', 'Failed']
Failed
['Update', 'on', 'Acc', '131265']
131265
['472639Payment', 'Received']
Received
['963334Waiting', 'for', 'amount', 'pending']
pending
['Acc', '822737', 'Update']
Update
['669915Transacion', 'Complete']
Complete
['466118Payment', 'Failed']
Failed

In [183]:
df = pd.DataFrame(data2, columns = ['From', 'To','Subject','Body','Class(output)'])

In [184]:
df.head(20)

,From,To,Subject,Body,Class(output)
0,None,None,None,None,None
1,Morgan@JPMorgan.com,Esabella@CitiBankSingapore.com,168717Waiting for amount pending,The trasaction 168717 is taking too long to be...,B
2,Morgan@HSBC.com,Meghan@CitiBankLondon.com,413891Transaction is in progress,Payment 413891 will be completed within two days,B
3,Morgan@CitiBankLondon.com,Anthony@CitiBankLondon.com,988795urgent: need transaction details,988795 sdjvbksd,D
4,Morgan@CitiBankLondon.com,Dipesh@CitiBankLondon.com,613137Transaction Failed,"Lack of funds, check no. 613137 has been bounced.",A
5,Spike@BNYMellon.com,Meghan@CitiBankNewYork.com,Update on Acc 131265,The trasaction 131265 is taking too long to be...,B
6,Adam@BNYMellon.com,Dipesh@CitiBankHingKong.com,472639Payment Received,The transaction 472639 have been recieved.,C
7,Phillip@CitiBankLondon.com,Esabella@CitiBankHingKong.com,963334Waiting for amount pending,The trasaction 963334 is taking too long to be...,B
8,Stig@BNYMellon.com,Hangchu@CitiBankHingKong.com,Acc 822737 Update,Payment 822737 will be completed within two days,B
9,Mike@CitiBankNewYork.com,Hangchu@CitiBankHingKong.com,669915Transacion Complete,Full payment for update 669915 is successfully...,C
10,Mike@BNYMellon.com,Anthony@CitiBankNewYork.com,466118Payment Failed,"Lack of funds, check no. 466118 has been bounced.",A
11,Phillip@CitiBankNewYork.com,Esabella@CitiBankNewYork.com,715136Transaction is in progress,The trasaction 715136 is taking too long to be...,B
12,Mike@BNYMellon.com,Dipesh@CitiBankNewYork.com,463812Waiting for amount pending,Payment 463812 will be completed within two days,B
13,Morgan@JPMorgan.com,Anthony@CitiBankPune.com,Update on Acc 277166,Due to server overflow transaction 277166 will...,B
14,Adam@JPMorgan.com,Meghan@CitiBankHingKong.com,155373Waiting for amount pending,The trasaction 155373 is taking too long to be...,B
15,Morgan@JPMorgan.com,Esabella@CitiBankNewYork.com,258974Transacion Complete,Full payment for update 258974 is successfully...,C
16,Jason@JPMorgan.com,Dipesh@CitiBankLondon.com,245366Payment Failed,"Due to unknown technical errors, your transact...",A
17,Jason@CitiBankLondon.com,Anthony@CitiBankNewYork.com,723425urgent: need transaction details,aaaaa 723425 qqqqqq,D
18,Stig@DEUTSCHEBANK.com,Esabella@CitiBankNewYork.com,926858Payment Failed,"Due to unknown technical errors, your transact...",A
19,Mike@HSBC.com,Meghan@CitiBankHingKong.com,Payment in Progress Acc 276383,The trasaction 276383 is taking too long to be...,B

In [186]:
df.to_csv(r'C:\Users\Siddharth\Desktop\Python files\emaildataset.csv', index = False)