In [1]:
#Email generation code

In [2]:
import pandas as pd
import numpy as np

In [3]:
From1=['@JPMorgan.com','@DEUTSCHEBANK.com','@BNYMellon.com','@HSBC.com','@CitiBankNewYork.com','@CitiBankLondon.com']

To2=['@CitiBankNewYork.com','@CitiBankLondon.com','@CitiBankPune.com','@CitiBankSingapore.com','@CitiBankHingKong.com']

Subject2=['Update on payment request', 'Payment Status', 'Urrgent: need transaction details','Transaction Complete','Transaction is in progress','Payment Failed','Payment is in progress','Waiting for amount pending','Transaction Failed','Payment Received']

name1=['Phillip','Mike','Jason','Adam','Morgan','Spike','Stacy']
name2=['Shai','Dipesh','Anthony','Isabella']
currency = ['USD','GBP','CAD','EUR']

In [4]:
data1=[[]]

In [5]:
import random
from random import randint

In [6]:
#basic Body for messages of emails

In [7]:
transacC=['The transaction ' + ''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' related to investment funds has been successfully completed.',
'The transaction ' +''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' have been received.',
'Full payment for update ' +''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' is successfully received.']

transacP=['The transaction ' + ''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' is taking too long to be completed',
'Fund transfer for ACC No. ' + ''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' has partially stopped due to unknown technical error. We regret the inconvenience.',
'Due to server overflow transaction ' + ''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' will be completed within seven to ten working days',
'Payment ' + ''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' will be completed within two days']

transacF=['Due to an unknown technical error, your transaction ' + ''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' have been cancelled.',
'Payment ' + ''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' have been cancelled as per your request.',
'Lack of funds, check no. ' + ''.join(["{}".format(randint(1, 9)) for num in range(0, 24)]) + ' has been bounced.']

transacR=[
    'Kindly provide the details for Acc no.'+''.join(["{}".format(randint(1, 9)) for num in range(0, 6)])+ ' at the earliest',
    'Please find the details of your account '+''.join(["{}".format(randint(1, 9)) for num in range(0, 6)])+ ' attached',
    'We have received your request and will be sending you the details of acc '+''.join(["{}".format(randint(1, 9)) for num in range(0, 6)])+ 'soon.'
]

In [8]:
#code dataset generation(demo) 
for i in range(len(From1)):
            for j in range(len(To2)):
                for k in range(len(Subject2)):
                    s1=random.choice(name1)+random.choice(From1)
                    s2=random.choice(name2)+random.choice(To2)
                    s3=random.choice(Subject2)
                    s4=""
                    s5=""
                    words = s3.split()
                    if(words[-1]=='Failed'):
                        s4=random.choice(transacF)
                        s5='A'
                    elif(words[-1]=='pending' or words[-1]=='progress'):
                        s4=random.choice(transacP)
                        s5='B'
                    elif(words[-1]=='Complete' or words[-1]=='Received'):
                        s4=random.choice(transacC)
                        s5='C'
                    elif(words[-1]=='Status' or words[-1]=='request' or words[-1]=='details'):
                        s4=random.choice(transacR)
                        s5='D'
                    m=[s1,s2,s3,s4,s5]
                    data1.append(m)

In [9]:
df1 = pd.DataFrame(data1, columns = ['From', 'To','Subject','Body','Class(output)'])

In [10]:
df1.head(100)
#demo data-How frame of data should look like

,From,To,Subject,Body,Class(output)
0,None,None,None,None,None
1,Jason@BNYMellon.com,Isabella@CitiBankLondon.com,Transaction is in progress,Payment 187664 will be completed within two days,B
2,Morgan@CitiBankNewYork.com,Dipesh@CitiBankHingKong.com,Urrgent: need transaction details,Kindly provide the details for Acc no.789752 a...,D
3,Phillip@CitiBankNewYork.com,Anthony@CitiBankNewYork.com,Waiting for amount pending,Due to server overflow transaction 811611 will...,B
4,Morgan@BNYMellon.com,Shai@CitiBankNewYork.com,Waiting for amount pending,Due to server overflow transaction 811611 will...,B
...,...,...,...,...,...
95,Phillip@BNYMellon.com,Isabella@CitiBankNewYork.com,Waiting for amount pending,Payment 187664 will be completed within two days,B
96,Stacy@BNYMellon.com,Anthony@CitiBankSingapore.com,Transaction Failed,"Lack of funds, check no. 753712717816291949512...",A
97,Morgan@HSBC.com,Dipesh@CitiBankNewYork.com,Transaction Complete,The transaction 947653 related to investment f...,C
98,Stacy@BNYMellon.com,Anthony@CitiBankLondon.com,Payment Received,Full payment for update 651179 is successfully...,C
99,Adam@CitiBankLondon.com,Anthony@CitiBankHingKong.com,Update on payment request,We have received your request and will be send...,D

In [11]:
###Whenever you need to join a digit put->  ''.join(["{}".format(randint(1, 9)) for num in range(0, 6)])+   part in there

In [12]:
##BELOW IS THE CODE FOR A NUMBER IN SUBJECT AND BODY and Original Dataset generator

In [13]:
###Randon number generator
def numbergen(n):
    return ''.join(["{}".format(randint(1, 9)) for num in range(0, n)])

In [14]:
###subject body
def sub(s):
    subject=['Acc ' + s + ' Update','Payment in Progress Acc ' + s,'Update on Acc '+ s,'Update on payment request for ' + s ,'Payment Status for ' + s,'Urgent : need transaction details for ' + s,'Transaction Complete for ' + s,'Transaction is in progress for ' + s,'Payment Failed for ' + s,'Payment is in progress for ' + s,'Waiting for amount pending for '+ s,'Transaction Failed for ' + s,'Payment Received for ' + s]
    return random.choice(subject)

In [15]:
### Message Body for 4 different sets of classes

def transac(n,s):
    
    transacC=['The transaction for amount ' + random.choice(currency)+' '+ ''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' related to investment funds has been successfully completed.',
    'The transaction of amount ' +random.choice(currency)+' '+''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' has been received successfully.',
    'Full payment for amount ' +random.choice(currency)+' '+''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' has been successfully received.']

    transacP=['The transaction ' + s + ' is taking too long to be completed',
    'Fund transfer for ACC No. ' + s + ' has partially stopped due to unknown technical error. We regret the inconvenience.',
    'Due to server overflow transaction ' + s + ' will be completed within seven to ten working days',
    'Payment ' + s + ' will be completed within two days']

    transacF=['Due to unknown technical errors, your transaction for amount ' + random.choice(currency)+' '+''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' has been cancelled.',
    'Payment of ' + random.choice(currency)+' '+ ''.join(["{}".format(randint(1, 9)) for num in range(0, 6)]) + ' has been cancelled as per your request.',
    'Due to lack of funds, cheque no. ' + ''.join(["{}".format(randint(1, 9)) for num in range(0, 24)]) + ' has bounced. Kindly ensure that you have enough funds and then submit a new cheque at the earliest.']

    transacR=['Kindly provide the details for Acc no. '+ s + ' at the earliest',
    'Please find the details of your account '+ s + ' attached',
    'We have received your request and will be sending you the details of acc '+ s + ' soon.']
    if(n==1):
        return random.choice(transacC)
    elif n==2:
        return random.choice(transacP)
    elif n==3:
        return random.choice(transacF)
    elif n==4:
        return random.choice(transacR)

In [16]:
data2=[[]]

In [17]:
#final code for dataset generation
for i in range(len(From1)):
            for j in range(len(To2)):
                for k in range(len(Subject2)):
                    temp=''.join(["{}".format(randint(1, 9)) for num in range(0, 6)])
                    s1=random.choice(name1)+random.choice(From1)
                    s2=random.choice(name2)+random.choice(To2)
                    s3=sub(temp)
                    s4=""
                    s5=""
                    words = s3.split()
                    for word in words:
                        word=word.lower()
                        if(word=='failed'):
                            s4=transac(3,temp)
                            s5='A'
                        elif(word=='pending' or word=='progress' or word=='update'):
                            s4=transac(2,temp)
                            s5='B'
                        elif(word=='complete' or word=='received'):
                            s4=transac(1,temp)
                            s5='C'
                        elif(word=='status' or word=='request' or word=='details'):
                            s4=transac(4,temp)
                            s5='D'
                    m=[s1,s2,s3,s4,s5]
                    data2.append(m)

In [18]:
df = pd.DataFrame(data2, columns = ['From', 'To','Subject','Body','Class(output)'])

In [19]:
df.head(20)

,From,To,Subject,Body,Class(output)
0,None,None,None,None,None
1,Adam@HSBC.com,Dipesh@CitiBankLondon.com,Urgent : need transaction details for 845967,We have received your request and will be send...,D
2,Phillip@CitiBankLondon.com,Dipesh@CitiBankHingKong.com,Payment Failed for 572172,Payment of USD 188399 has been cancelled as pe...,A
3,Mike@DEUTSCHEBANK.com,Anthony@CitiBankLondon.com,Update on payment request for 296938,Kindly provide the details for Acc no. 296938 ...,D
4,Morgan@DEUTSCHEBANK.com,Dipesh@CitiBankPune.com,Update on payment request for 942151,Please find the details of your account 942151...,D
5,Spike@CitiBankNewYork.com,Shai@CitiBankNewYork.com,Transaction Failed for 537968,"Due to lack of funds, cheque no. 2755223926952...",A
6,Stacy@CitiBankNewYork.com,Shai@CitiBankNewYork.com,Transaction is in progress for 736887,Fund transfer for ACC No. 736887 has partially...,B
7,Adam@CitiBankNewYork.com,Isabella@CitiBankLondon.com,Payment Failed for 859184,Payment of EUR 451827 has been cancelled as pe...,A
8,Phillip@BNYMellon.com,Anthony@CitiBankLondon.com,Acc 558635 Update,Payment 558635 will be completed within two days,B
9,Adam@CitiBankLondon.com,Dipesh@CitiBankHingKong.com,Urgent : need transaction details for 948218,Please find the details of your account 948218...,D
10,Adam@CitiBankLondon.com,Shai@CitiBankNewYork.com,Payment Received for 931794,The transaction of amount CAD 989476 has been ...,C
11,Mike@CitiBankNewYork.com,Shai@CitiBankHingKong.com,Payment Failed for 558395,"Due to lack of funds, cheque no. 8665811238752...",A
12,Stacy@BNYMellon.com,Anthony@CitiBankNewYork.com,Transaction is in progress for 927379,Due to server overflow transaction 927379 will...,B
13,Adam@CitiBankNewYork.com,Dipesh@CitiBankHingKong.com,Payment Failed for 866634,Payment of USD 619234 has been cancelled as pe...,A
14,Morgan@BNYMellon.com,Shai@CitiBankLondon.com,Update on Acc 461978,Payment 461978 will be completed within two days,B
15,Mike@CitiBankNewYork.com,Dipesh@CitiBankNewYork.com,Transaction Complete for 455258,The transaction of amount EUR 917639 has been ...,C
16,Phillip@HSBC.com,Anthony@CitiBankPune.com,Waiting for amount pending for 122775,The transaction 122775 is taking too long to b...,B
17,Spike@DEUTSCHEBANK.com,Isabella@CitiBankLondon.com,Payment in Progress Acc 737865,Fund transfer for ACC No. 737865 has partially...,B
18,Adam@DEUTSCHEBANK.com,Anthony@CitiBankPune.com,Payment is in progress for 765836,Payment 765836 will be completed within two days,B
19,Morgan@HSBC.com,Anthony@CitiBankPune.com,Transaction Failed for 539115,"Due to unknown technical errors, your transact...",A

In [20]:
import datetime

In [21]:
start_date = datetime.date(2018, 12, 1)
end_date = datetime.date(2020, 5, 31)

time_between_dates = end_date - start_date
days_between_dates = time_between_dates.days
date_column_data = [start_date + datetime.timedelta(days=random.randrange(days_between_dates)) for i in range(len(data2))]
#print(date_column_data)

In [22]:
df['Payment Date'] = date_column_data

In [23]:
df.head(100)

,From,To,Subject,Body,Class(output),Payment Date
0,None,None,None,None,None,2019-03-14
1,Adam@HSBC.com,Dipesh@CitiBankLondon.com,Urgent : need transaction details for 845967,We have received your request and will be send...,D,2020-04-04
2,Phillip@CitiBankLondon.com,Dipesh@CitiBankHingKong.com,Payment Failed for 572172,Payment of USD 188399 has been cancelled as pe...,A,2019-05-10
3,Mike@DEUTSCHEBANK.com,Anthony@CitiBankLondon.com,Update on payment request for 296938,Kindly provide the details for Acc no. 296938 ...,D,2019-04-29
4,Morgan@DEUTSCHEBANK.com,Dipesh@CitiBankPune.com,Update on payment request for 942151,Please find the details of your account 942151...,D,2019-09-16
...,...,...,...,...,...,...
95,Mike@JPMorgan.com,Dipesh@CitiBankPune.com,Transaction Failed for 633184,"Due to unknown technical errors, your transact...",A,2020-03-25
96,Morgan@CitiBankLondon.com,Shai@CitiBankSingapore.com,Payment Failed for 934242,"Due to unknown technical errors, your transact...",A,2020-03-13
97,Mike@CitiBankNewYork.com,Anthony@CitiBankNewYork.com,Update on Acc 395131,Due to server overflow transaction 395131 will...,B,2019-03-13
98,Phillip@BNYMellon.com,Isabella@CitiBankNewYork.com,Acc 897148 Update,Fund transfer for ACC No. 897148 has partially...,B,2020-04-23
99,Phillip@CitiBankNewYork.com,Isabella@CitiBankLondon.com,Transaction is in progress for 375551,Fund transfer for ACC No. 375551 has partially...,B,2018-12-24

In [24]:
df.drop(0,inplace=True)

In [25]:
df.reset_index(inplace=True)

In [26]:
df.head()

,index,From,To,Subject,Body,Class(output),Payment Date
0,1,Adam@HSBC.com,Dipesh@CitiBankLondon.com,Urgent : need transaction details for 845967,We have received your request and will be send...,D,2020-04-04
1,2,Phillip@CitiBankLondon.com,Dipesh@CitiBankHingKong.com,Payment Failed for 572172,Payment of USD 188399 has been cancelled as pe...,A,2019-05-10
2,3,Mike@DEUTSCHEBANK.com,Anthony@CitiBankLondon.com,Update on payment request for 296938,Kindly provide the details for Acc no. 296938 ...,D,2019-04-29
3,4,Morgan@DEUTSCHEBANK.com,Dipesh@CitiBankPune.com,Update on payment request for 942151,Please find the details of your account 942151...,D,2019-09-16
4,5,Spike@CitiBankNewYork.com,Shai@CitiBankNewYork.com,Transaction Failed for 537968,"Due to lack of funds, cheque no. 2755223926952...",A,2019-03-06

In [27]:
df.drop(["index"],axis=1,inplace=True)

In [28]:
#This the DataSet we Have generated
df.head()

,From,To,Subject,Body,Class(output),Payment Date
0,Adam@HSBC.com,Dipesh@CitiBankLondon.com,Urgent : need transaction details for 845967,We have received your request and will be send...,D,2020-04-04
1,Phillip@CitiBankLondon.com,Dipesh@CitiBankHingKong.com,Payment Failed for 572172,Payment of USD 188399 has been cancelled as pe...,A,2019-05-10
2,Mike@DEUTSCHEBANK.com,Anthony@CitiBankLondon.com,Update on payment request for 296938,Kindly provide the details for Acc no. 296938 ...,D,2019-04-29
3,Morgan@DEUTSCHEBANK.com,Dipesh@CitiBankPune.com,Update on payment request for 942151,Please find the details of your account 942151...,D,2019-09-16
4,Spike@CitiBankNewYork.com,Shai@CitiBankNewYork.com,Transaction Failed for 537968,"Due to lack of funds, cheque no. 2755223926952...",A,2019-03-06

In [29]:
df.to_csv(r'C:\Users\Siddharth\Desktop\temp\emaildataset.csv', index = False)